body{
font-family: 'El Messiri', sans-serif;
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:600;
}

p{
  color:#8f8f8f;
}

/* Headings */


.big-heading{
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 9%;
}

.section-heading{
  font-size: 3rem;
  line-height:1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Section */
.colored-section{
  background-color: #99154E;
  color:#fff;
}

.white-section{
background-color: #fff;
}


/* Navigation Bar */

.navbar{
background-color: #99154E;
}


.title-box{
  margin-top:7%;
}

.navbar-brand{
font-family: 'Changa', sans-serif;
font-size: 2rem;
font-weight: bold;
margin-left: 2%;
}



.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1.2rem;
}

/* Title Section */

#title .container-fluid{
  text-align: left;
  padding: 3% 15% 7%;
}


/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;
}

.title-img-dev{
  position: relative;
}

/* Features Section */

#features{
background-color:#fff;
position: relative;
}

/* Pricing Section */

#pricing{
  padding: 100px;

}

.price-text{
  font-size:3rem;
  line-height:1.5;
}

.pricing-column{
  padding: 3% 2%;

}


.feature-title{
  font-size: 1.5rem;
}

@media (max-width: 991px){
  .title-image {
    position: static;
    transform: rotate(0);
    width: 80%;
  }

  #title .container-fluid{
    text-align: center;
  }

.big-heading{
  font-size: 4rem;
}
.download-botton{
  font-size: 2.5rem;
}

.navbar{
padding: 3% 5% 0;
}

.features-box, .feature-title, .footer-icons, .register-botton, p, h2, h3{
  font-size: 1.4rem;
}

em{
  font-size: 1.7rem;
}

#pricing{
  padding:5% 0;
}
.pricing-column{
  padding: 3% 3%;
}

}


/* Download Buttons */

.download-botton{
  margin: 5% 3% 5% 0;

}


.features-icon{
  color: #FFC93C;
  padding-bottom: 1rem;
}

.features-icon:hover{
  color: #99154E;
}

.features-box{
  padding: 5%;
}

/* Testimonial Section */

#testimonials{
  background-color: #FFC93C;
}

.testimonial-text{
  font-size: 3rem;
  line-height:1.5;
}

.testimonial-image{
  width: 12%;
  height:auto;
  margin: 20px;
}


.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#press{
  background-color:#FFC93C;
  padding-bottom: 3%;
}




/* Call to Action */
#cta{
  background-color:#99154E;
}



#footer{
  background-color: #fff;
  line-height: 3;
}

.footer-icons{
margin: 5px;
}
